<section id="projects">
  <div class="wrap">
    <div class="sec-head reveal"><span class="sec-num">04</span><span class="sec-title">Selected Projects</span><span class="sec-line"></span></div>
    <div class="proj-grid">
      {% for project in site.data.projects %}
      <div class="proj reveal">
        <span class="tag">{{ project.tag }}</span>
        <h3>{{ project.title }}</h3>
        <p>{{ project.description }}</p>
        <div class="stack">
          {% for tech in project.stack %}<span>{{ tech }}</span>{% endfor %}
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
